name: CI/CD Simple Calc App

on:
        push:
                branches: ["main", "develop"]
        pull_request:
                branches: ["main"]

env:
        NODE_VERSION: "18"
        DOCKER_IMAGE_NAME: ${{ vars.DOCKERHUB_USERNAME }}/simple-calc-app

jobs:
        build:
                runs-on: ubuntu-latest

                steps:
                        - name: Checkout repository
                          uses: actions/checkout@v4

                        - name: Setup Node
                          uses: actions/setup-node@v4
                          with:
                                  node-version: ${{ env.NODE_VERSION }}
                                  cache: npm

                        - name: Install dependencies
                          run: npm install

                        - name: Build project
                          run: npm run build --if-present

        test:
                runs-on: ubuntu-latest
                needs: build

                steps:
                        - name: Checkout repository
                          uses: actions/checkout@v4

                        - name: Setup Node
                          uses: actions/setup-node@v4
                          with:
                                  node-version: ${{ env.NODE_VERSION }}
                                  cache: npm

                        - name: Install dependencies
                          run: npm install

                        - name: Run tests with coverage
                          run: npm test -- --coverage

                        - name: Upload artifact
                          uses: actions/upload-artifact@v4
                          with:
                                  name: coverage-report
                                  path: coverage/
                                  retention-days: 7

        docker:
                runs-on: ubuntu-latest
                needs: test
                if: github.event_name == 'push' && github.ref == 'refs/heads/main'

                steps:
                        - name: Checkout code
                          uses: actions/checkout@v4

                        - name: Login to DockerHub
                          uses: docker/login-action@v3
                          with:
                                  username: ${{ vars.DOCKERHUB_USERNAME }}
                                  password: ${{ secrets.DOCKERHUB_TOKEN }}

                        - name: build & push
                          uses: docker/build-push-action@v5
                          with:
                                  context: .
                                  push: true
                                  tags: ${{ vars.DOCKERHUB_USERNAME }}/calculatrice:latest

                        - name: logout
                          if: always()
                          run: docker logout
